<section class='name-container container d-flex flex-column text-center'>
  <h3 class='welcome-title'>Welcome to</h3>
  <h1 class='title'>Budget Buddy</h1>
  <div class='m-2 mt-4 d-flex flex-column text-center fixed-bottom'>
    <%= link_to 'Sign in', new_user_session_path, class:'signin-btn d-grid gap-2 col-2 mx-auto text-white text-decoration-none p-3 mb-2 fs-6 fw-semibold', style:'background-color: #3778c2;' %>
    <%= link_to 'Sign up', new_user_registration_path, class:'signup-btn d-grid gap-2 col-2 mx-auto border border-secondary text-secondary text-decoration-none p-3 mb-1 fs-6 fw-semibold' %>
  </div>
</section>