@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/proximanova-bold.otf) format(opentype);
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url(../fonts/proximanova-light.otf) format(opentype);
}

html {
  font-family: "Proxima Nova Light", sans-serif;
  color: var(--text);
}

.name-container {
  margin: 8rem auto;
}

.welcome-title {
  margin-bottom: 2rem;
  font-size: 32px;
  font-style: italic;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}

.navbar {
  padding: 1rem;
}

.expense-container {
  width: 60%;
}

.cat-expense-container, .cat-container {
  margin-bottom: 5rem;
}

.expense-info, .category-info {
  margin: 0.5rem auto;
  width: 50%;
}

.custom-select {
  width: 8rem;
}

.no-cat {
  margin: 3rem auto 0;
}