.name-container {
  margin: 8rem auto;
}

.welcome-title {
  margin-bottom: 2rem;
  font-size: 32px;
  font-style: italic;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}

.navbar {
  padding: 1rem;
}

.expense-container {
  width: 60%;
}

.cat-expense-container {
  margin-bottom: 5rem;
}

.expense-info, .category-info {
  margin: 0.5rem auto;
  width: 50%;
}

.custom-select {
  width: 8rem;
}

.no-cat {
  margin: 3rem auto 0;
}