@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/proximanova-bold.otf) format(opentype);
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url(../fonts/proximanova-light.otf) format(opentype);
}

html {
  font-family: "Proxima Nova Light", sans-serif;
  color: var(--text);
}

.name-container {
  margin: 8rem auto;
}

.welcome-title {
  margin-bottom: 2rem;
  font-size: 32px;
  font-style: italic;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}

.navbar {
  padding: 1rem;
}

.expense-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

.cat-expense-container, .cat-container {
  margin-bottom: 5rem;
}

.expense-info, .category-info{
  margin: 0.5rem auto;
  width: 60%;
}

.container-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: center;
  width: 60%;
}

.container-info h2 {
  flex: 80%;
  display: flex;
  justify-content: center;
}

.container-info p {
  flex: 30%;
  display: flex;
  justify-content: center;
}

.custom-select {
  width: 8rem;
}

.no-cat {
  margin: 3rem auto 0;
}

.expense-info {
  display: flex;
  justify-content: center;
}

.expense-detail {
  flex: 90%;
}

.expense-del-btn {
  background-color: transparent;
  color: red;
  border: none;
}

.add-cat-btn, .add-exp-btn {
  background-color: #5fb523;
  color: white;
}


.add-cat-btn:hover, .add-exp-btn:hover {
  background-color: white;
  color: #5fb523;
}

.signout-btn {
  text-decoration:none;
  color:white;
}

.signout-btn:hover {
  color:#3778c2;
  background-color: white;
  padding: 5px;
}

.signin-btn {
  color:white;
  background-color: #3778c2;
}

.signin-btn:hover {
  color: #3778c2;
  background-color: white;
  border: 1px solid #3778c2;
}

.signup-btn {
  color: #6c757d;
  border: 3px solid #6c757d;
}

.signup-btn:hover {
  background-color: #6c757d;
  color: white;
}

.image {
  width: 200px;
  height: 200px;
}